:host(.mergehelper) {
  text-transform: uppercase;
  padding: 0;
}
:host(.mergehelper)::before {
  content: var(--lumo-icons-arrow-right);
  color: var(--lumo-primary-text-color);
  display: flex;
  width: 1em;
  font-family: 'lumo-icons';
  font-size: var(--lumo-icon-size-s);
}
:host(.mergehelper[has-value])::before {
  content: var(--lumo-icons-checkmark);
  color: var(--lumo-success-text-color);
}
:host(.mergehelper[has-value]) [part='input-field'] ::slotted([slot='value']:not([placeholder])) {
  color: var(--lumo-success-text-color);
}
:host(.mergehelper.conflict)::before {
  content: var(--lumo-icons-error);
  color: var(--lumo-error-text-color);
}

:host(.mergehelper) [part='toggle-button']::before {
  display: none;
}

:host(.mergehelper) [part='input-field'] {
  color: var(--lumo-primary-text-color);
  background-color: var(--lumo-base-color);
  padding: 0;
  --lumo-font-size-m: var(--lumo-font-size-xxs);
  --lumo-text-field-size: var(--lumo-size-xs);
  --_lumo-selected-item-padding: 0;
  --_lumo-selected-item-height: var(--lumo-size-xs);
}
:host(.mergehelper.conflict) [part='input-field'] {
  color: var(--lumo-error-text-color);
}
:host(.mergehelper[has-value]) [part='input-field'] ::slotted([slot='value']:not([placeholder])) {
  color: var(--lumo-success-text-color);
}

